:root {
    --animate-duration: 1.5s;
    --animate-delay: 0,8s;
  }

.box-shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
     /* 0px eje x
    5 px eje y 
    5 px spread 
    rgba ,0,0,0,0.2  casi traslucido */
}